*{
	font-family: 'Quicksand', sans-serif;
}
.episodeCard, .singleContainer{
	margin-top: 1em;
}
.singleContainer{
	margin-bottom: 3em;
}

#startPlaylist{
	color: white;
}

.miniPlayer{
	margin-bottom: 1em;
}