<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tematico</title>
    <meta property="og:url"                content="{{.Permalink}}" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="{{.Title}}" />
	<meta property="og:image:width"        content="702" />
	<meta property="og:image:height"       content="408" />
	<meta property="fb:app_id"             content="675210965976646" />
	<meta property="fb:pages" 			   content="725945030887635" />

	{{ if .Description }}
    	<meta property="og:description"        content="{{.Description}}" />
	{{else}}
    	<meta property="og:description"        content="Podcast temático con recomendación músical buena onda." />
	{{ end }}
		
	{{if isset .Params "image" }}
		<meta property="og:image"              content="{{.Site.BaseURL}}img/{{.Params.image}}" />
	{{else}}
		<meta property="og:image"              content="{{.Site.BaseURL}}img/tematico.png" />
	{{end}}
	
	

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css">
  </head>
  <body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand headerTitle" href="{{.Site.BaseURL}}">Tematico</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{.Site.BaseURL}}">Home <span class="sr-only">(current)</span></a>
				</li>
				
			</ul>
		</div>
	</nav>