<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/tematico.css">

    <title>Tematico</title>
    <meta property="og:url"                content="{{.Permalink}}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{.Title}}" />
    <meta property="og:image:width"        content="702" />
    <meta property="og:image:height"       content="408" />
    <meta property="fb:app_id"             content="675210965976646" />
    <meta property="fb:pages"          content="725945030887635" />

    {{ if .Description }}
        <meta property="og:description"        content="{{.Description}}" />
    {{else}}
        <meta property="og:description"        content="Podcast temático con recomendación músical buena onda." />
    {{ end }}
      
    {{if isset .Params "image" }}
      <meta property="og:image"              content="{{.Site.BaseURL}}img/{{.Params.image}}" />
    {{else}}
      <meta property="og:image"              content="{{.Site.BaseURL}}img/tematico.png" />
    {{end}}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <a href="{{.Site.BaseURL}}" class="siteTitleHeader">Tematico</a>
          <a href="https://www.youtube.com/channel/UCKxo7KlGByT85HQqDc9dxYg" class="siteTitleHeader"><i class="fab fa-youtube"></i></a>
          <a href="https://www.facebook.com/tematicomx" class="siteTitleHeader"><i class="fab fa-facebook"></i> /tematicomx</a>
        </div>
      </div>
    </div>
